body{
  font-family: 'Open Sans', sans-serif;
  background-color: #C6D8D3;
  color: #1d566e;
  line-height: 1.6em;
}

h1 {
  font-size: 22px;
  color: #409d9b;
}

h2,
h3 {
  font-size: 18px;
  font-weight: 300
}



a {
    color: #409d9b;
    text-decoration: none;
}

a:hover {
  color: #409d9b;
}

.container{
  width: 800px;
  margin: 0 auto;
}

.card{
  background-color: #FDF0D5;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
}

.text-center {
  text-align: center;
}

#movies {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6em;
}

.list-inline{
  padding-left: 0;
}
.list-inline li{
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  color: #f09b;
}

#image-profile {
    width: 100px;
    height: 100px;
    border: 3px solid #cccccc;
}

.image-circle {
    border-radius: 50%;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
